fastapi
uvicorn[standard]
pydantic
python-dotenv
requests

streamlit

sentence-transformers
faiss-cpu
rank-bm25
langchain-text-splitters

markitdown[pdf]       
beautifulsoup4

transformers
torch

httpx
tqdm
pandas
python-multipart

pytest
plotly
